<%- include ('../../partials/header.ejs') %>



<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
           <h2>Login</h2> 
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>
                <input class="form-control" name="password" type="password" placeholder="*****"><br>      
                <button type="submit" class="btn btn-success btn-lg">Entrar</button>
                <a class="btn btn-success btn-lg" href="admin/users/create" role="button">Cadastrar</a>
                <a class="btn btn-success btn-lg" a style="float:right" href="/" role="button">Voltar</a>
                <!-- <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>          -->
            </form>
        </div>
    </div>
</div>


<%- include ('../../partials/footer.ejs') %>